{% extends 'base.html' %}

{% block content %}

<center><img src="static/images/logo.png" id="logo"></center>

<div class="col-md-10" id="infoLogos"><center>
	<div class="col-md-3"><img src="static/images/invoice.png" id="invoice" width="100" height="100"></div>
	<div class="col-md-3"><img src="static/images/payments.png" id="payments" width="100" height="100"></div>
	<div class="col-md-3"><img src="static/images/items.png" id="items" width="100" height="100"></div>
	</center>
</div>

<div class="col-md-10" id="infoTxt"><center>
	<div class="col-md-3"><img src="static/images/invoiceTxt.png" id="invoiceTxt" width="50" height="25"></div>
	<div class="col-md-3"><img src="static/images/payTxt.png" id="paymentsTxt" width="100" height="100"></div>
	<div class="col-md-3"><img src="static/images/itemsTxt.png" id="itemstxt" width="100" height="100"></div>
	</center>
</div>


{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="static/css/home.css"/>
{% endblock %}