{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<center><img src="{% static 'images/logo.png' %}" id="logo"></center>

<div class="col-md-12" id="infoLogos"><center>
	<div class="col-md-4"><a href="{% url 'items' %}"><img src="{% static 'images/invoice.png' %}" id="invoice" width="100" height="100"></a></div>
	<div class="col-md-4"><a href="{% url 'dashboard' %}"><img src="{% static 'images/payments.png' %}" id="payments" width="100" height="100"></a></div>
	<div class="col-md-4"><a href="{% url 'history' %}"><img src="{% static 'images/items.png' %}" id="items" width="100" height="100"></a></div>
	</center>
</div>

<div class="col-md-12" id="infoTxt"><center>
	<div class="col-md-4"><a href="{% url 'items' %}"><img src="{% static 'images/itemsTxt.png' %}" id="invoiceTxt" width="45" height="20"></a></div>
	<div class="col-md-4"><a href="{% url 'dashboard' %}"><img src="{% static 'images/payTxt.png' %}" id="paymentsTxt" width="100" height="100"></a></div>
	<div class="col-md-4"><a href="{% url 'history' %}"><img src="{% static 'images/history.png' %}" id="history" width="60" height="25"></a></div>
	</center>
</div>


{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}