#logo{
	padding-top: 125px;
}
#infoLogos{
	padding-top: 7%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#infoTxt{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#invoiceTxt{
	margin-top: 9%;
}

#history{
	margin-top: 8%;
}