<div class="container" id="Container">
    <div class="row">
        <div class="col-xs-10">
            <div class="text-center">
                <i class="fa fa-search-plus pull-left icon"></i>
                <h2>Invoice History</h2>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center"><strong>Payments Received</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Date</strong></td>
                                    <td class="text-center"><strong>Client Phone</strong></td>
                                    <td class="text-center"><strong>Amount</strong></td>
                                    <td class="text-center"><strong>Status</strong></td>
                                </tr>
                            </thead>
                            <tbody>

                                {% for payment in payments_received %}
                                    <tr>
                                        <td>{{ payment.date }}</td>
                                        <td class="text-center">{{ payment.senderPhoneNum }}</td>
                                        <td class="text-center">{{ payment.amount }}</td>
                                        <td class="text-center">{{ payment.transferStatus }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center"><strong>Payments Sent</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Date</strong></td>
                                    <td class="text-center"><strong>Biller</strong></td>
                                    <td class="text-center"><strong>Amount</strong></td>
                                    <td class="text-center"><strong>Status</strong></td>
                                </tr>
                            </thead>
                            <tbody>

                                {% for payment in payments_sent %}
                                    <tr>
                                        <td>{{ payment.date }}</td>
                                        <td class="text-center">{{ payment.recipientPhoneNum }}</td>
                                        <td class="text-center">{{ payment.amount }}</td>
                                        <td class="text-center">{{ payment.transferStatus }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>


